.block {
  background:none;
padding: 0px;
border: 0px #000 solid;
}
.system-genesys {
 background-image:url(https://i.imgur.com/5s6VJkT.png);
 text-align:justify;
 font-family:crimson text,  serif;
 display:inline-block;
 border:1px #b19f55 solid;
}

 .system-genesys .abilities {
 list-style:none;
 padding-left:1.5em;
}
.system-genesys .abilities-row {
list-style:none;
padding-left:1.5em;
}

.system-genesys .abilities-row .soak {
position:relative;
left:15.5px;
top:5px;
text-align:center;
display:inline-block;
width:25px;
}

.system-genesys .abilities-row .wounds {
position:relative;
left:15.5px;
top:5px;
text-align:center;
display:inline-block;
width:25px;
}
.system-genesys .abilities-row .strain {
position:relative;
left:15.5px;
top:5px;
text-align:center;
display:inline-block;
width:25px;
}
.system-genesys .abilities-row .def {
position:relative;
left:15.5px;
top:5px;
text-align:center;
display:inline-block;
width:25px;
}

 .system-genesys .abilities li::before {
 content:"•";
 color:#f69337;
 display:inline-block;
 width:1em;
 margin-left:-1em;
}
 .system-genesys .characteristics {
 background-image:url(nemesis-block.svg);
 height:88px;
 width:329px;
 background-size:100%;
 font-family:oswald;
 font-size:14pt;}

 .system-genesys .characteristics .bra {
 position:relative;
 left:15.5px;
 top:5px;
 text-align:center;
 display:inline-block;
 width:25px;
}

 .system-genesys .characteristics .agi {
 position:relative;
 left:41px;
 top:5px;
 width:25px;
 text-align:center;
 display:inline-block;
}
 .system-genesys .characteristics .int {
 position:relative;
 left:66.5px;
 top:5px;
 width:25px;
 text-align:center;
 display:inline-block;
}
 .system-genesys .characteristics .cun {
 position:relative;
 left:91px;
 top:5px;
 width:25px;
 text-align:center;
 display:inline-block;
}
 .system-genesys .characteristics .wil {
 position:relative;
 left:117px;
 top:5px;
 width:25px;
 text-align:center;
 display:inline-block;
}
 .system-genesys .characteristics .pre {
 position:relative;
 left:141.5px;
 top:5px;
 width:25px;
 text-align:center;
 display:inline-block;
}
